[submodule "BGMRPCModule/BGMRPC"]
	path = BGMRPCModule/BGMRPC
	url = https://github.com/BlueGhostStudio/BGMRPC.git
[submodule "CallGraph"]
	path = CallGraph
	url = https://github.com/BlueGhostStudio/CallGraph.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/BlueGhostStudio/BGStudio-cmake.git

[submodule "BGMRPCModule/Deploy"]
	path = BGMRPCModule/Deploy
	url = https://github.com/BlueGhostStudio/BGMRPCDeploy.git
[submodule "BGCMSProject"]
	path = BGCMSProject
	url = https://github.com/BlueGhostStudio/BGCMSProject.git

[submodule "BGSTDWEB"]
	path = BGSTDWEB
	url = https://github.com/BlueGhostStudio/BlueGhostStudio.github.io.git
[submodule "BG.js"]
	path = BG.js
	url = https://github.com/BlueGhostStudio/BG.js.git
[submodule "BGMRPCModule/BGMRPCConsole"]
	path = BGMRPCModule/BGMRPCConsole
	url = https://github.com/BlueGhostStudio/BGMRPCConsole.git
[submodule "BGMRPCModule/Apps"]
	path = BGMRPCModule/Apps
	url = https://github.com/BlueGhostStudio/BGMRPCApps.git
[submodule "BGSTDQml"]
	path = BGSTDQml
	url = https://github.com/BlueGhostStudio/BGSTDQml.git
